{libraries}
{styles}
<style>
.b-data {padding-top: 20px !important}
</style>
<div class="b-data__content" id="content" style="margin-top: 0">

<div class="row-main row-main--article">
<h1 class="b-data__title b-data__title--sm">
{title}
</h1>
</div>
{column}
<p class="text-bold text-lg">{perex}</p>
<p class="meta meta--icon">
	<span class="icon-svg icon-svg--bullet">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-bullet" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

	<strong>Praha</strong> <time>{published}</time>
</p>

{mainphoto}

{content}

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">{authors}</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div>
</article>